/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
    font-family: "Source Sans Pro";
	src: url('../fonts/SourceSansPro-SemiboldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}   
@font-face {
    font-family: "Source Sans Pro";
	src: url('../fonts/SourceSansPro-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: "Source Sans Pro";
    src:url('../fonts/SourceSansPro-Bold.ttf');
    font-weight: bold;
	font-style: bold;
}
 @font-face {
    font-family: "Source Sans Pro";
	src:url('../fonts/SourceSansPro-Regular.ttf');
	font-style:normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/*VARIABLES*/
:root {
	--background-color: #f5f5f5;
	--header-color: #635e5e;
	--cover-color: #666;
	--footer-color: #d8d8d8;
	--border-radius: 4px;
	--gradient-start: rgba(0, 0, 0, 1);
	--gradient-end: rgba(0, 0, 0, 0.2);
	--main-image-height: 700px;
	--custom-color-1: #bbb;
	--custom-color-2: #fff;
	--custom-color-3: #f3f3f3;
	--text-color: #786f6f;
}


body {
	left: 0px;
	right: 0px;
	background-color: var(--background-color);
	font-family: 'Source Sans Pro';
	line-height: 1;
}

/*LOADING SCREEN*/
.spinnerContainer {
	background-color: #efefef;
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    display: block;
    margin:auto;
    animation: spin 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
/*HEADER*/
.header {
	top: 0;
	left: 0;
	background: var(--header-color);
	width: 100%;
	height: 100px;	
	text-align: center;
	position: fixed;
	z-index: 1;	
}

.header > * {
	padding:10px;
}

@media only screen and (min-width: 680px){
	.header {
		height: 80px;
		display: flex;
		justify-content: space-between;
	}

	.header > * {
		padding: unset;
	}
}

.headerTitle {
	position:relative;
	color:var(--custom-color-1);
	font-size:1.0em;
}

@media only screen and (min-width: 680px){
	.headerTitle {
		font-size: 1.5em;
		margin-top:25px;
		margin-left: 2%;
	}
}

.headerTitle a {
	color:white;
}

/*NAVBAR*/

.headerNav {
	font-size: 1.0em;
}

@media only screen and (min-width: 680px) {
	.headerNav {
		font-size: 1.2em;
		margin-right: 5%;
		margin-top: 20px;
	}
}

.navContainer {
	display: flex;
	justify-content: center;
}

.headerNav a:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
	border: 1px solid;
	border-color: var(--custom-color-2);
}

.headerNav a {	
	border: 1px solid var(--custom-color-2);
	color: var(--custom-color-2);
	padding: 10px;	
	transition: 0.4s;	
}

.headerNav a:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border: 1px solid;
	border-color: var(--custom-color-2);
}

.headerNav a:hover {	
	background-color: rgba(255,255,255,0.7);
}


/*IMAGE AND BANNER*/

.image {
	background-color: var(--cover-color);
	height: var(--main-image-height);
	background-image:
	url("../images/overlay.png"),
	linear-gradient(to bottom, var(--gradient-start), var(--gradient-end)),
	url("../images/cover.jpg");
	
	background-repeat:
	repeat, 
	no-repeat, 
	no-repeat;

	background-size:
	auto, 
	auto, 
	cover;

	background-position-x: 
	center, 
	center, 
	center;

	background-attachment: 
	fixed, 
	fixed, 
	local;
}

.banner {
	color: white;
	position: relative;
	text-align: center;
	margin:auto;
	top:40%;
}

.title {
	font-size: 2.0em;
	margin-bottom: 15px;
}

@media only screen and (min-width: 680px){
	.title {
		font-size: 2.5em;
	}
}

.paragraph {
	margin-bottom: 40px;
	width: 100%;
}

/*od ovoga napraviti buttone*/
.bannerNav a:first-child {
	background-color: var(--custom-color-1);
	color: #323131;
	border: 1px solid white;
	border-radius: var(--border-radius);
	transition: 0.4s;
	padding: 10px 40px 10px 40px;
}

.bannerNav a:hover {
	cursor: pointer;
	background-color: var(--custom-color-2);
}


.bannerNav a:last-child {
	background-color: var(--custom-color-2);
	color: #4e4c4c;
	border: 1px solid white;
	border-radius: var(--border-radius);
	transition: 0.4s;

	padding: 10px 28px 10px 28px;
}

.bannerNav a:last-child:hover {
	background-color: #efefef;
	color: #323131;
}


/*MAIN SECTION*/

.main {
	width: 90%;
	margin: -100px auto 30px auto;
	border-radius: var(--border-radius);
	text-align: center;
	background-color: white;
	color: var(--text-color);
	/*Ukoliko je height fiksan slika može izaći iz div-a*/
	min-height: 400px;
}

@media only screen and (min-width: 768px){
	.main {
		width: 70%;
	}
}

.mainTitle {
	font-size: 1.5em;
	line-height: 1.0em;
	margin: auto;
	padding: 50px 0px 50px 0px;
	width: 60%;
	border-bottom: 1px solid var(--custom-color-1);
}

@media only screen and (min-width: 680px) {
	.mainTitle {
		font-size: 2.0em;
		line-height: 1.5em;
	}
}


.mainTitle a {
	transition: 1s;
	color: black;
	animation: colorChange 2s;
	animation-iteration-count:infinite;
}

.mainParagraph {
	margin: auto;
	padding: 50px 0px 50px 0px;
	width: 60%;
	color: black;
}

.slide {
	object-fit: cover;
	border-bottom-left-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	width: 100%;
	transition: 1s;
	height: 300px;
}

.mainImage {
	animation: imageSwitch 1s;
}

@keyframes imageSwitch {
	0%{
		opacity: 0;
	}

  	100% {
		opacity: 1;
	}
}

.mainImage:hover {
	cursor: pointer;
}

.temporaryImage {
	opacity: 0;
}

.invisibleImage {
	height: 300px;
	width: 0%;
	display: none;
}

/*AUTH*/

.auth p {

	padding: 10px;
	width: 60%;
	margin: auto;
	font-size: 1.2em;
}

@media only screen and (min-width: 680px){
	.auth p {
		font-size: 1.4em;
	}
}
.auth input {
	font-size: 1.0em;
	text-align: center;
}
.auth input[type='text'],input[type='password'] {
	width:80%;
	box-sizing: border-box;
	transition: 0.2s;
	border: 1px solid black;
	border-radius: 16px;
	color: var(--text-color);
	background-color: #efefef;
	padding: 4px;
}

.auth input[type='text']:focus, input[type='password']:focus {
	outline: none;
	width: 82%;
}

@media only screen and (min-width: 680px){
	.auth input[type='text'],input[type='password'] {
		width: 50%;
	}

	.auth input[type='text']:focus, input[type='password']:focus {
		outline: none;
		width: 52%;
	}
}




@keyframes colorChange {
	0% {
		color: black;
	}
	50% {
		color: var(--text-color);
	}
}

.loginButton {
	margin: 30px auto;
	text-align: center;
	display: block;
	transition: 0.3s;
	border-radius: var(--border-radius);
	background-color: #efefef;
	color: #323131;
	border: 1px solid black;
	padding: 10px 40px 10px 40px;	
}

.loginButton:hover {
	cursor: pointer;
	border-radius: 16px;
	padding: 10px 30px 10px 30px;
}

.loginSpinner {
	display: none;
	padding: 30px;
	height: 50px;
}

.invalid {
	color: red;
}

.valid {
	color: green;
}
/*QUICKMENU AND GRAYSCALE IMAGES*/
.itemContainer {
	width: 90%;
	margin: auto;
	border-radius: var(--border-radius);
	text-align: center;
	background-color: white;
	color: var(--text-color);
	display: block;
}

@media only screen and (min-width: 768px) {

	.itemContainer {
		width: 70%;
	}

	.row {
		display: flex;	
	}
	
	.row:first-child{
		padding-top:10px;
		border-bottom: 1px solid var(--custom-color-1);
	}
	
	.row:last-child{
		padding-bottom:10px;
	}

}

.row {		
	margin-left: 10px;		
	margin-right: 10px;
}

@media only screen and (min-width: 768px) {
	.item {
		width: 50%;
		box-sizing: border-box;
		padding: 20px;
	
	}

	.item:first-child {
		border-right: 1px solid var(--custom-color-1);
	}
}

@media only screen and (max-width: 768px){


	.item {
		box-sizing: border-box;
		padding: 20px;
		border-top: 1px solid var(--custom-color-1);
	}

	.noborder {
		border-top: none !important;
	}
}

.itemIcon {
	width: 70px;
	transition: 0.2s;
}

.itemIcon:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.itemTitle {
	font-size: 1.0em;
	margin-top: 25px;
	margin-bottom: 25px;
}

@media only screen and (min-width: 680px) {
	.itemTitle {
		font-size: 1.5em;
	}
}

.itemParagraph {
	line-height: 1.5em;
	margin:auto;
	width: 90%;
}

/*IMAGES*/
.imgContainer {
	box-sizing: border-box;
	background-color: white;
	border-radius: var(--border-radius);;
	color: var(--text-color);
	text-align: center;
	width: 100%;
	margin: 30px auto auto auto;
}

@media only screen and (min-width: 680px) {
	.imgContainer:first-child{
		margin-right: 4% !important;	
	}
	
	.imgContainer:last-child{
		margin-left: 4% !important;	
	}	
}

@media only screen and (max-width: 768px) and (min-width: 680px)  {

	.imgRow {
		display: flex !important;
	}

}

.imgRow {
	width: 90%;
	justify-content: center;
	margin: 30px auto auto auto; 
}

@media only screen and (min-width: 768px){
	.imgRow {
		width: 70%;
	}
}

.filteredImage {	
	width: 100%;
	transition: 0.3s;
	filter: grayscale(1);
}

.filteredImage:hover {
	filter: none;
}

.imgButton {
	display: inline-block;
	transition: 0.3s;
	background-color: var(--custom-color-1);
	color: var(--custom-color-2);
	border: 1px var(--custom-color-2);
	border-radius: var(--border-radius);
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px 40px 10px 40px;
}

.imgButton:hover {
	cursor: pointer;
	background-color: var(--custom-color-3);
	color: #4b4949;
}
/*MODALS*/
.modal {
	display: none; 
}

.modal-visible{
	display: block; 
	position: fixed;
	overflow-y: scroll; 
	top: 0px;
	width: 100%; 
	height: 100%;
	animation: blurAnim 1s;
	backdrop-filter: blur(5px);
	transition: 1s;
	z-index: 1;
}

.modal-visible::-webkit-scrollbar {
    width: 0;
}

.modalText {
	margin: 10px auto;
	width: fit-content;
	padding: 10px;
	border-radius: 8px;
	background-color: #efefef;
}

@keyframes blurAnim {
	from {
		backdrop-filter: blur(0px);
	}
	to {	
		backdrop-filter: blur(5px);
	}
}

.modal-content {
	border-radius: var(--border-radius);
	position: relative;
	top: 0px;
	animation: modalAnim 1s;
	width: 90%;
	margin: 10px auto;
	text-align: center;
	color: var(--text-color);
	transition: 1s;
}

@media only screen and (min-width: 768px){
	.modal-content {
		width: 70%;
	}
}

.modalContainer {
	width: 90%;
	border-radius: var(--border-radius);
	margin: auto;
}

.signUpContainer {
	margin: 20px auto;
	padding-bottom: 20px;
	border-radius: var(--border-radius);
	background-color: white;
	color: var(--text-color);
	min-height: 400px;
}

.modalImage {
	border-radius: var(--border-radius);
	width: 90%;
	margin:10px auto;
}
@keyframes modalAnim {
	from {
		top: -800px;
		opacity: 0;
	}

	to {
		top: 0px;
		opacity: 1;
	}
}
.close {
	transition: 0.5s;
	background-color: var(--background-color);
	border-radius: 50%;
	width: 30px;
	color: black;
	font-size: 28px;
	font-weight: bold;
	margin-left: 95%;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*FOOTER*/

.footer {
	width: 100%;
	margin-top: 30px;
	padding: 20px 0px 20px 0px;
	background-color: var(--footer-color);
	text-align: center;
}

.iconBox {
	display: flex;
	justify-content: center;
	margin: 12px 0px 10px 0px;
}

.iconBox img {
	transition: 0.3s;
	height: 30px;
	margin: 0px 1px 0px 1px;
}

.iconBox img:hover {
	filter:opacity(0.5);
}

.copyright p {
	color: var(--text-color);
}

.copyright a {
	color: rgb(255, 255, 255);
}










